token=BOT TOKEN
mongodburl=MONGO DB URI
bannerhelp=BANNER FOR HELP COMMAND
banner=BANNER FOR ABOUT COMMAND
bannerevent=BANNER FOR EVENT ANNOUNCEMENT
openweatherkey= *
oauthlink=BOT INVITE LINK
openaikey= *
normalpfp=DEFAULT PFP IMAGE
rolesys=DEFAULT SYSTEM ROLE GPT
roleown=OWNER SYSTEM ROLE GPT
gtechlogo=LOGO OF G-TECH RE'SMAN
topggtoken= *
xlvtoken=XELVIE'S TOKEN (OPTIONAL)
xaneria=PORTRAIT OF XANERIA
eventnews=EVENT NEWS STRING
defaultenemy=DEFAULT ENEMY PROFILE PICTURE

Note: * -> Self explanatory